#header {
    width: 100%;
    height: 150px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.content {
    display: flex;
}

#navigation {
    border-right: 1px solid gray;
    width: 16%;
}

.profile {
    width: 80%;
    height: 400px;
    text-align: center;
    border: 1px solid gray;
    margin: 50px;
}

.profile_image{
    width: 300px;
    height: 200px;
    text-align: center;
    background: gray;
}

#navbar {
    float: left;
    overflow: hidden;
    display: block;
    float: left;
    list-style: none;
}

.navbar_section {

}

#rightSide {
    float: right;
    border-left: 1px solid gray;
    width: 15%;
}

#main {
    float: center;
    width: 70%;
}

#footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid gray;
}